<h1>Company details for <%= @company["name"] %></h1>
 
<%= @company["name"] %> is located in the city of
<%= @company["city"] %> which is in the state of
<%= @company["state"] %>

<p>
    <a href="/companies">back</a>
</p>
